<h1>Monitoring and Diagnostics</h1>
<div class="row">
    <div class="col-md-7">

        <div class="row">

            <div class="col-md-6">

                <div class="row">

                  

                </div>                
                
            </div>
            <div class="col-md-6">
                
                <div class="row">

                    <div class="col-md-6" style="margin-bottom: 10px;;">
                        <button type="button" class="btn btn-outline-secondary" style="width:100%;">PV Online</button>
                    </div>
                    <div class="col-md-6" style="margin-bottom: 10px;;">
                        <button type="button" class="btn btn-outline-secondary" style="width:100%;">Island Mode</button>
                    </div>   

                    <div class="col-md-6" style="margin-bottom: 10px;;">
                        <button type="button" class="btn btn-outline-secondary" style="width:100%;">ESS Charging</button>
                    </div>
                    <div class="col-md-6" style="margin-bottom: 10px;;">
                        <button type="button" class="btn btn-outline-secondary" style="width:100%;">Gen Online</button>
                    </div> 

                    <div class="col-md-6">
                        <button type="button" class="btn btn-outline-secondary" style="width:100%;">No Alarms</button>
                    </div>
                    <div class="col-md-6">
                        
                    </div>                                                          

                </div>

            </div>            

        </div>

    </div>
    <div class="col-md-5">

        <img src="assets/minigrid.png" style="width: 100%;" alt="image">

    </div>
</div>






<chart [type]="type" [data]="data" [options]="options" style="height: 400px;"></chart>

<div class="row">

    <div class="col-md-7">

        <h4 class="d-flex justify-content-between align-items-center mb-3">
            <span class="text-muted">Your cart</span>
            <span class="badge badge-secondary badge-pill">3</span>
          </h4>
          <ul class="list-group mb-3">
            <li class="list-group-item d-flex justify-content-between lh-condensed">
              <div>
                <h6 class="my-0">Product name</h6>
                <small class="text-muted">Brief description</small>
              </div>
              <span class="text-muted">$12</span>
            </li>
            <li class="list-group-item d-flex justify-content-between lh-condensed">
              <div>
                <h6 class="my-0">Second product</h6>
                <small class="text-muted">Brief description</small>
              </div>
              <span class="text-muted">$8</span>
            </li>
            <li class="list-group-item d-flex justify-content-between lh-condensed">
              <div>
                <h6 class="my-0">Third item</h6>
                <small class="text-muted">Brief description</small>
              </div>
              <span class="text-muted">$5</span>
            </li>
            <li class="list-group-item d-flex justify-content-between bg-light">
              <div class="text-success">
                <h6 class="my-0">Promo code</h6>
                <small>EXAMPLECODE</small>
              </div>
              <span class="text-success">-$5</span>
            </li>
            <li class="list-group-item d-flex justify-content-between">
              <span>Total (USD)</span>
              <strong>$20</strong>
            </li>
          </ul>
    
          <form class="card p-2">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Promo code">
              <div class="input-group-append">
                <button type="submit" class="btn btn-secondary">Redeem</button>
              </div>
            </div>
          </form>        

    </div>

    <div class="col-md-5">

        <h4 class="d-flex justify-content-between align-items-center mb-3">
            <span class="text-muted">Your cart</span>
            <span class="badge badge-secondary badge-pill">3</span>
          </h4>
          <ul class="list-group mb-3">
            <li class="list-group-item d-flex justify-content-between lh-condensed">
              <div>
                <h6 class="my-0">Product name</h6>
                <small class="text-muted">Brief description</small>
              </div>
              <span class="text-muted">$12</span>
            </li>
            <li class="list-group-item d-flex justify-content-between lh-condensed">
              <div>
                <h6 class="my-0">Second product</h6>
                <small class="text-muted">Brief description</small>
              </div>
              <span class="text-muted">$8</span>
            </li>
            <li class="list-group-item d-flex justify-content-between lh-condensed">
              <div>
                <h6 class="my-0">Third item</h6>
                <small class="text-muted">Brief description</small>
              </div>
              <span class="text-muted">$5</span>
            </li>
            <li class="list-group-item d-flex justify-content-between bg-light">
              <div class="text-success">
                <h6 class="my-0">Promo code</h6>
                <small>EXAMPLECODE</small>
              </div>
              <span class="text-success">-$5</span>
            </li>
            <li class="list-group-item d-flex justify-content-between">
              <span>Total (USD)</span>
              <strong>$20</strong>
            </li>
          </ul>
    
          <form class="card p-2">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Promo code">
              <div class="input-group-append">
                <button type="submit" class="btn btn-secondary">Redeem</button>
              </div>
            </div>
          </form>        

    </div>    

</div>